.participant.min {
  width: 200px;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  z-index: 1;
  border-radius: 4px;
}

.participant.max {
  width: 100%;
  position: absolute;
}

.participant video {
  width: 100%;
  position: absolute;
  top: 0px;
}

.participant .background {
  background-color: #000000;
  width: 100%;
  padding-top: 56.25%; /* Hard-coded 16:9 aspect ratio */
}

.participant.local video {
  transform: scale(-1, 1);
}

.participant.min video {
  border-radius: 4px;
}

.participant.min .background {
  border-radius: 4px;
}

.participant .loading {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
}
