.video.local {
  transform: scale(-1, 1);
}

.video.min {
  width: 200px;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  z-index: 1;
  border-radius: 4px;
}

.video.max {
  height: 100%;
  width: 100%;
  position: absolute;
}
